.checkin-box{
    background-color: aquamarine;
    height: 100%;

    .checkin-box-in{
         background-color: #252930;
         // background-color: aliceblue;
         padding-top: 12px;


         .form-box{
              background-color: aliceblue;

              label{
                   margin: 15px;
                   font-size: 1.3rem;
              }

              #pnrNo{
                   background-color: white;
                   border: 2px solid #252930;
                   color: #252930;
                   // width: 30vw;
              }

              .btn-click{
                   // width: 40vw;
                   // background-color: greenyellow;
                   background-color: #252930;

                   &:hover{
                        background-color: rgb(220, 163, 95);
                        color: #252930;
                   }

              }

              .Ticket{
                   h4{
                        margin-bottom: 2px;
                   }
                   h5{
                        margin: 10px;
                   }
              }
         }
    }
}